<h1> Script Tracker </h1>
<h4> Welcome! </h4>
    <p> 
        Welcome to Script Tracker! Script Tracker was created to help talent representatives, development departments, contest coordinators, and freelance script coverage analysts keep track of the scripts they have read. 
    </p>

<h4> What Can It Track? </h4>
    <p> 
        Script Tracker can currently track the title, writer(s), date read, recommendation, and notes for any given script. It also has the ability to edit or delete entries.  We are always looking for new ways to improve, and hope to add additonal features such as scoring soon.
    </p>

<h4> How Do I Get Started? </h4>
    <p>
        If you do not have an account already, you can sign up <a href="/signup"  > here</a>.
    </p>

    <p>
        If you do have an account, you can log in <a href="/login"  > here</a>.
    </p>